<!doctype html>
<html>
<head>
  <title>Request a Contest Round</title>
</head>
<body>
  <h1>Request a Contest Round</h1>

  <form action="/request-round" method="post">
    <div>
      <label for="user">Your name:</label>
      <input type="text" id="user" name="user">
    </div>
   
    <div>
      <label for="player_url">Player function URL:</label>
      <input type="text" id="player_url" name="player_url">
    </div>

    <button type="submit">Request round</button>
  </form>

</body>
</html>
